<zui-shell-nav slot="nav">
  {% set navPages = collections.all | eleventyNavigation %}
  {%- for entry in navPages %}
  <zui-shell-nav-item>
    <zui-icon icon="zui-rocket" slot="icon"></zui-icon>
    <a href="{{ entry.url | url }}"{% if entry.url == page.url %} active{% endif %}>{{ entry.title }}</a>
  </zui-shell-nav-item>
  {%- endfor %}
</nav>
