<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<zywave-api-proxy api-base-url="https://api.zywave.com/proxy/"></zywave-api-proxy>
		<zywave-shell>
			<section class="zui-layout">
				{{ layoutContent | safe }}
			</section>
			{% include "components/nav.njk" %}
		</zywave-shell>
	</body>

</html>
